body {
  margin: 0;
  font-family: 'Arvo', serif;
  text-align: center;
  background-image: url(images/drum-b-g.jpg);
  background-size: cover; /* کل صفحه را پوشش می‌دهد */
  background-position: center;
  background-repeat: no-repeat;
  color: #DBEDF3;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden; /* جلوگیری از اسکرول */
}

h1 {
  font-size: 4rem;
  color: #EEEEEE;
  font-family: "Playwrite CO Guides", cursive;
  text-shadow: 3px 0 whitesmoke;
  margin-bottom: 50px;
  letter-spacing: 3px;
}

.drum {
  outline: none;
  border: 2px solid #404B69;
  font-size: 3rem;
  font-family: "Kanit", sans-serif;
  font-weight: bold;
  font-style: italic;
  color: #000000;
  text-shadow: 3px 0 #DBEDF3;
  background-color: #DBEDF3;
  margin: 10px;
  padding: 15px;
  border-radius: 12px;
  width: 120px;
  height: 120px;
  display: inline-block;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  text-align: center;
  cursor: pointer;
  transition: all 0.2s ease;
  background-size: cover; /* تصاویر در دکمه‌ها */
  background-position: center; /* مرکز تصاویر */
}

.drum:active {
  transform: scale(0.9);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.w {
  background-image: url("images/tom01.png");
  background-size: cover;
}
.a {
  background-image: url("images/tom02.png");
  background-size: cover;
}
.s {
  background-image: url("images/tom03.png");
  background-size: cover;
}
.d {
  background-image: url("images/tom04.png");
  background-size: cover;
}
.j {
  background-image: url("images/snare02.png");
  background-size: cover;
}
.k {
  background-image: url("images/crash02.png");
  background-size: cover;
}
.l {
  background-image: url("images/kick.jpg");
  background-size: cover;
}

.set {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px; /* فاصله از کناره‌ها */
  max-width: 100%;
}

@media (max-width: 768px) {
  body {
    padding: 0 10px;
    font-size: 14px;
    height: 100vh;
  }

  h1 {
    font-size: 3rem;
    margin-bottom: 30px;
  }

  .drum {
    width: 100px;
    height: 100px;
    font-size: 2rem;
  }

  .set {
    gap: 8px;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 2.5rem;
  }

  .drum {
    width: 80px;
    height: 80px;
    font-size: 1.5rem;
  }

  .set {
    gap: 5px;
  }
}

.pressed {
  animation: pressedAnimation 0.1s ease-out;
}

@keyframes pressedAnimation {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}